body {
    font-family: Arial, sans-serif;
    /* background-color: #f8f9fa; */
    background-image: url('back1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    text-align: center;
    margin: auto;
    padding: auto;
    height: 750px;
}

h1, h2, h3 {
    color: #333;
}

.container {
    width: 50%;
    margin: auto;
    background: rgba(149, 193, 231,0.75); 
    /* background-image: url('Background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

input[type="text"], input[type="number"] {
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: rgba(156, 65, 242, 0.25);
    color: rgb(39, 15, 61);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #99dbe1;
}

.result-box {
    margin-top: 20px;
    background: rgba(149, 193, 231,0.75); ;
    padding: 15px;
    border-radius: 8px;
}

.suggestions {
    color: #0d1f12;
    font-weight: bold;
}
